$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  text-align: center;
  background-color: #8C97A2;
  color: white;
}

h1,
h2 {
  font-weight: 300;
}

button {
  color: white;
  background-color: #8C97A2;
  border: 2px solid #B6E2AD;
}

label {
  font-weight: 300;
}

input {
  background-color: #8C97A2;
  border: 1px solid white;
  margin-left: 15px;
}

.account-forms {
  border: 5px solid #059005;
}
